header {
    width: 95%;
}

.theory-color__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 80px 0;
}



.theory-color__lists {
    list-style-type: none;
    display: flex;
    column-gap: 55px;
}

.theory-color__link {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.theory-color__link_blog {
    font-size: 18px;
}

.theory-color__search {
    background: var(--color-bg-input);
    border: none;
    border-radius: var(--border-100);
    -webkit-border-radius: var(--border-100);
    -moz-border-radius: var(--border-100);
    -ms-border-radius: var(--border-100);
    -o-border-radius: var(--border-100);
}

@media (max-width: 640px) {
    .theory-color__nav {
        flex-direction: column;
    }
}